@charset "utf-8";    
.jpagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.jpagination a, .jpagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.jpagination .jcurrent {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}

.jpagination .jcurrent.jprev, .jpagination .jcurrent.jnext{
	color:#999;
	border-color:#999;
	background:#fff;
}

