.star-rating{
	list-style:none;
	margin: 7px 0px 0px 0px;
	padding:0px;
	width: 80px;
	height: 16px;
	position: relative;
	background: url(../images/star-off.png) repeat-x;
	float: left;
	display: inline;
}
.star-rating li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:16px;
	height: 16px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(../images/star-on.png);
	z-index: 2;
	left: 0px;
	cursor:pointer;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:16px;
}
.star-rating a.two-stars{
	left:16px;
}
.star-rating a.two-stars:hover{
	width: 32px;
}
.star-rating a.three-stars{
	left: 32px;
}
.star-rating a.three-stars:hover{
	width: 48px;
}
.star-rating a.four-stars{
	left: 48px;
}
.star-rating a.four-stars:hover{
	width: 64px;
}
.star-rating a.five-stars{
	left: 64px;
}
.star-rating a.five-stars:hover{
	width: 80px;
}
.star-rating li.current-rating{
	background: url(../images/star-blue.png);
	position: absolute;
	height: 16px;
	display: block;
	z-index: 1;
}