/*全局设置*/
.divider {
	height: 1px;
	overflow: hidden;
	/*background-color: #ffff66;*/
	border-bottom: 1px solid #cccccc;
}

.bk10{
	margin-top: 10px;
}

.printer_divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
}

html {
	overflow:hidden; 
	margin:0px; 
	width:100%; 
	height:100%; 

}

body {
/*	font-family: Helvetica,Arial,sans-serif;*/
	line-height: 1.3em;
	margin: 0px;
	font-size: 12px;
	color: #333;
	overflow:hidden; 
	width:100%; 
	height:100%; 

}

#container{
	height:570px;
	/*background:#ffff99;
	background-image: -moz-linear-gradient(top, #ffff99, #ffff66); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffff99), color-stop(1, #ffff66)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff99', endColorstr='#ffff66', GradientType='0'); /* IE*/
}
.margin30{
	margin-left:30px;
}
.w30{
	width:30px;
}

.w40{
	width:40px;
}

.w50{
	width:50px;
}

.w60{
	width:60px;
}

.w70{
	width:70px;
}

.w80{
	width: 80px;
}

.w100{
	width:100px;
}
.w300{
	width:300px;
}

#printer_container{
	height:570px;
	/*background:#ccffff;
	background-image: -moz-linear-gradient(top, #ccffff, #99ffff); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccffff), color-stop(1, #99ffff)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffff', endColorstr='#99ffff', GradientType='0'); /* IE*/
}

#feedback_container{
	padding-top:30px;
	/*background:#ccff99;
	background-image: -moz-linear-gradient(top, #ccff99, #aaff77); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccff99), color-stop(1, #aaff77)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccff99', endColorstr='#aaff77', GradientType='0'); /* IE*/
}
#shop_container{
	/*background:#ccff99;
	background-image: -moz-linear-gradient(top, #ccff99, #aaff77); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccff99), color-stop(1, #aaff77)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccff99', endColorstr='#aaff77', GradientType='0'); /* IE*/
}

.feedback_view{
	width: 900px;
	padding:10px;
	/*background: #ffeeff;
	background-image: -moz-linear-gradient(top, #ffeeff, #cccccc); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffeeff), color-stop(1, #cccccc)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeff', endColorstr='#cccccc', GradientType='0'); /* IE*/
}
.feedback_message{
	margin:10px 50px 10px 20px;
	padding:10px;
	border-left: 8px solid #3498db;
	border-top: 1px solid #3498db;
	border-right: 1px solid #3498db;
	border-bottom: 1px solid #3498db;
	background-color: #D6E4FB;
	text-align: left;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.feedback_reply{
	margin:4px 20px 0px 50px;
	padding:10px;
	border-left: 8px solid #e67e22;
	border-top: 1px solid #e67e22;
	border-right: 1px solid #e67e22;
	border-bottom: 1px solid #e67e22;
	background-color: #f2d2b1;
	text-align: left;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#msgcontent{
	width: 800px;
	height: 100px;
}

#login_main{
	background:#ffff99;
}

#login_left{
	float:left;
	width:565px;
	height: 530px;
	padding:35px 25px 0 0;
}

#login_left_left{
	float:left;
	width:250px;
	height:530px;
	margin:0px 25px 0 0;
}

#login_left_title{
	height:100px;
}

#login_title{
	color: #dc442e;
	text-align: left;
	font-size: 22px;
	margin-bottom: 20px;
}

#login_title_content{
	color: #666;
	text-align: left;
	font-size: 16px;
}

#login_left_mid_img{
	height:300px;
}

#login_left_right{
	float:left;
	width:290px;
	height:530px;
}

#login_left_right_img{
	height:400px;
}

.login_left_foot{
	height:130px;
}

.foot_title{
	padding:10px 0;
	text-align: left;
	color: #666;
	font-size: 14px;
}

.foot_content{
	text-align: left;
	color: #aaa;
	font-size: 12px;
}

#login_right{
	float:left;
	background-color: #efefef;
	padding:30px;
	margin:35px 0 0 0px;
	border:1px solid #ddd;
}

.btn-metro-orange{
	border: 0px;
	border-radius:4px;
	color: white;
	padding:2px 14px;
	font-size: 14px;
	background-color: #f89406;
}

.btn-metro-blue{
	border: 0px;
	border-radius:4px;
	color: white;
	padding:6px 10px;
	margin:6px 2px;
	background-color: #4889F0;
}

.btn-metro{
	border: 0px;
	border-radius:4px;
	color: white;
	padding:6px 10px;
	background-color: #4889F0;
}

.btn-metro:hover{
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}

.btn-metro:active{
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

.btn-metro-small{
	border: 0px;
	border-radius:4px;
	color: white;
	padding:2px 10px;
	background-color: #4889F0;
}

.btn-metro-small:hover{
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}

.btn-metro-small:active{
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

#page_bg {
	padding: 10px 0;
	margin-bottom: 1px;
	background: #0C3A6D;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	background: #f7f7f7 url(../images/blue/mw_shadow_l.png) 0 0 repeat-y;
}

body.width_medium #wrapper {
	width: 950px;
}

body.width_small #wrapper {
	width: 773px;
}

body.width_fmax #wrapper {
	min-width: 750px;
	max-width: 1050px;
}

#notice
{
	width:98%;
    height: 400px;
    border-width: 0px;
}
/*table.nopad {
	width:100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}*/

#wrapper_r {
	background: url(../images/blue/mw_shadow_r.png) 100% 0 repeat-y;
}

.clr {
	clear: both;
}

/*header设置*/

#header {
	background-image: -moz-linear-gradient(top, #3498db, #3f7ded); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3498db), color-stop(1, #3f7ded)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#3f7ded', GradientType='0'); /* IE*/
	color:white;
	line-height:40px;
	height:40px;
	width: 100%;
	position:absolute; 
	z-index:2008; 
}

#menu{
	width:980px;
	height:30px;
}

#menu_logo{
	float:left;
	margin-top: 6px;
	width:100px;
}

#menu_list{
	float:left;
	width:800px;
	position: relative;
}

#menu_list a{
	color:#aaa;
	text-decoration: none;
}

#menu_list a:hover{
	color: white;
}

#dropdown-menu a{
	color:black;
}


.content-header{
	text-align: left;
	padding: 10px 0 4px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #4889F0;
	color:#4889F0;
}

.content-password{
	text-align: center;
	width: 400px;
}

.content-address{
	text-align: center;
	width: 600px;
}


#title {
	/*position:absolute;
	left:0;
	top:0;
	float:left;
	width:400px;
	height:100px;*/
	margin-left: 0px;
	margin-top: 35px;
	font-size:25px;
	color:#135cae;
	font-weight:bold;
}

/*footer设置*/

#footer {
	margin-top: 4px;
	height:100px;
	background-image: -moz-linear-gradient(top, #3498db, #3f7ded); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3498db), color-stop(1, #3f7ded)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#3f7ded', GradientType='0'); /* IE*/
	color: #ffffff;
}

#footer_content{
	padding-top: 10px;
	width:980px;
}

#footer_list{
	float:left;
	width:150px;
	color: #D6E4FB;
}

#footer_logo{
	float:left;
	width:380px;
	color: #D6E4FB;
}

#footer_list li{
	text-align:left;
}

#fl_title{
	font-size:16px;
	font-weight:bold;
	color: #D6E4FB;
}

#footer_r div {
	text-align: center;
	font-size: .90em;
	color: #aaa;
}

#footer_r a:link, #footer_r a:visited  {
	color: #999;
}

#footerspacer {
	height: 10px;
}

span.description {
	display:block;
	padding-left: 30px;
}


/*状态栏设置*/

.info {
	float:right;
	margin-right:20px;
	text-align:right;
	margin-top: -20px;
}


p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #666;
	text-align: left;
	width: 100%;
}

h2 {
	padding: 0;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;
}

h3 {
	margin-top: 25px;
	margin: 0;
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-left: 0px;
    margin-bottom: 10px;
    text-align: left;
    color: #135cae;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	background: url(../images/mw_readon.png) top right no-repeat;
	padding-right: 20px;
	line-height: 14px;
	height: 16px;
}

#profile{
	width:1000px;
}
#printer_list{
	width:200px;
	height:568px;
	position: relative;
	float:left;
	background-color: #F0F0F0;
	border-left:6px solid #4889F0;
	border-top: 1px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;
	margin-right: 10px;

}

#other_printer{
	height:386px;
	overflow:scroll;
}

.printer_info{
	height:50px;
	text-align: left;
	border-bottom: 1px solid #cccccc;
	margin: 2px 8px;
}

.printer_more{
	min-height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: white;
	margin:4px;
	width: 192px;
	background-color: #4889F0;
}
.title_background{
	background-color: #D6E4FB;
	padding:4px 0 4px 4px;
}

.profile_title{
	text-align:left;
	line-height:20px;
	font-size:14px;
	color: #4889F0;
	font-weight:bold;
	vertical-align: middle;
	padding:4px 0 4px 4px;
	background-color: #D6E4FB;
}

.setting_details{
	text-align:left;
}

#file_manage{
	width:770px;
	height:310px;
	float:left;
	border-left:4px solid #4889F0;
	border-top: 1px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;

}

#file_manage_content{
	height:210px;
	overflow:scroll;
}

.left750{
	width:750px;
	text-align: left;
}

#file_setting{
	float:left;
}

.manage_list{
	width:200px;
	height:568px;
	float:left;
	border: 1px solid #4889F0;
	margin-right: 10px;
}

.menu_title{
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin:10px 0 0 20px;
}

.menu_content{
	text-align: center;
	padding:6px 0 6px 0px;
	border-bottom: 1px solid #f0f0f0;
}

.cur{
	border-left: 4px solid #4889F0;
	background-color: #f0f0f0;
}

#managebox{
	width:780px;
	height:568px;
	float:left;
	border-left:6px solid #4889F0;
	border-top: 1px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;
}

.rating_panel{
	text-align: left;
	margin-left: 100px;
}

.manage_table{
	width:780px;
}

.manage_table td{
	max-width:100px;
}

.printtask_table{
	border-color:#cccccc;
}

.table_header{
	background-color: #D6E4FB;
}

#print_setting{
	width:770px;
	height:258px;
	float:left;
	border-left:4px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;
}

.pading6{
	padding:6px;
}
.tabs{
	border:1px solid #eee;
	background-color: #d8d8d8;
	color:white;
	height:38px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}

.current{
	background:#4889F0;
}

#shop_main{
	width: 990px;
}
#shop_image{
	height: 120px;
	border-left:6px solid #4889F0;
	border-top: 1px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;
}
#shop_word{
	height: 50px;
	line-height: 50px;
	background-color: #D6E4FB;
	border-left:6px solid #4889F0;
	border-right: 1px solid #4889F0;
	font-size: 20px;
}
#shop_body{
	border-left:6px solid #4889F0;
	border-top: 1px solid #4889F0;
	border-right: 1px solid #4889F0;
	border-bottom: 1px solid #4889F0;
}
#shop_services{
	width: 684px;
	float:left;
	border-right: 4px solid #4889F0;
	min-height: 500px;
}
#shop_details{
	width: 290px;
	float: right;
}

#doc-class
{
	margin-top: 10px;
	margin-left:10px;
	border-bottom: 2px dashed gray;
	line-height: 30px;
}
.doc-display .doc-title{
	border-bottom: 1px solid gray;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	padding-left: 20px
}

.navlist {
        margin: 5px 0 0 0;
        height: 26px;
        border-bottom: 1px solid #778;
        font: bold 14px Verdana, sans-serif;
}

.navlist li {
		float: left;
        list-style: none;
        margin: 0;
        display: inline;
        border-top: 1px solid #778;
        border-right: 1px solid #778;

        border-bottom: none;
}

.navlist li a {
		display:inline-block;
		width: 80px;
		height: 25px;
		line-height: 25px;
        background: #D6E4FB;
        text-decoration: none;
}

.navlist li a:link { color: #448; }
.navlist li a:visited { color: #667; }

.navlist li a:hover {
        color: #000;
        background: #AAE;
        border-color: #227;
}

.navlist li a.current {
        background: #4889F0;
        color: white;
        border-bottom: 1px solid #4889F0;
}
#doc-list{
	border-bottom: 1px dashed gray;
	margin-left: 10px;
}

#shop_msg_view{
	background: white;
}
.shop_details_info{
	clear:both;
	margin-left: 15px;
	list-style: none;
	text-align: left;
	line-height: 30px;
}

#slogan{
	padding: 14px 30px;
	background-color: #4889F0;
	color: white;
}
.star-rating{
	list-style:none;
	margin: 7px 0px 0px 0px;
	padding:0px;
	width: 80px;
	height: 16px;
	position: relative;
	background: url(../images/star-off.png) repeat-x;
	float: left;
	display: inline;
}
.star-rating li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:16px;
	height: 16px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(../images/star-on.png);
	z-index: 2;
	left: 0px;
	cursor:pointer;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:16px;
}
.star-rating a.two-stars{
	left:16px;
}
.star-rating a.two-stars:hover{
	width: 32px;
}
.star-rating a.three-stars{
	left: 32px;
}
.star-rating a.three-stars:hover{
	width: 48px;
}
.star-rating a.four-stars{
	left: 48px;
}
.star-rating a.four-stars:hover{
	width: 64px;
}
.star-rating a.five-stars{
	left: 64px;
}
.star-rating a.five-stars:hover{
	width: 80px;
}
.star-rating li.current-rating{
	background: url(../images/star-blue.png);
	position: absolute;
	height: 16px;
	display: block;
	z-index: 1;
}
#profile_right{
	width:770px;
	float:left;
	position: relative;
}

#mask_left {
	background-color: #eee;
	left: 0px;
	position: absolute;
	top: 0px;
	margin-top: 70px;
	width: 200px;
	height:500px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	z-index:100; 
}

#mask_right {
	background-color: #eee;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 774px;
	height:570px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
	z-index:100; 
}

.cleanstyle{
	border:0;background:none;box-shadow:none;
}
.virtual_body { 
	width:100%; 
	height:100%; 
	overflow-y:scroll; 
	overflow-x:auto; 
} 
.virtual_header{
	height: 44px;
	width: 100%;
}
.floatnav{
	position:absolute; 
	z-index:2008; 
	bottom:110px;
}