/*全局设置*/
.divider {
	height: 1px;
	overflow: hidden;
	/*background-color: #ffff66;*/
	border-bottom: 1px solid #cccccc;
}

.bk10{
	margin-top: 10px;
}

.printer_divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: #99ffff;
	border-bottom: 1px solid #666666;
}

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

#container{
	height:570px;
	/*background:#ffff99;
	background-image: -moz-linear-gradient(top, #ffff99, #ffff66); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffff99), color-stop(1, #ffff66)); /* Saf4+, Chrome */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff99', endColorstr='#ffff66', GradientType='0'); /* IE*/
}
.margin30{
	margin-left:30px;
}
.w40{
	width:40px;
}

.w60{
	width:60px;
}

.w70{
	width:70px;
}

.w100{
	width:100px;
}
.w300{
	width:300px;
}

#printer_container{
	height:570px;
	background:#ccffff;
	background-image: -moz-linear-gradient(top, #ccffff, #99ffff); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccffff), color-stop(1, #99ffff)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffff', endColorstr='#99ffff', GradientType='0'); /* IE*/
}

#feedback_container{
	padding-top:30px;
	background:#ccff99;
	background-image: -moz-linear-gradient(top, #ccff99, #aaff77); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccff99), color-stop(1, #aaff77)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccff99', endColorstr='#aaff77', GradientType='0'); /* IE*/
}
#shop_container{
	background:#ccff99;
	background-image: -moz-linear-gradient(top, #ccff99, #aaff77); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccff99), color-stop(1, #aaff77)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccff99', endColorstr='#aaff77', GradientType='0'); /* IE*/
}

.feedback_view{
	width: 900px;
	padding:10px;
	background: #ffeeff;
	background-image: -moz-linear-gradient(top, #ffeeff, #cccccc); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffeeff), color-stop(1, #cccccc)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeff', endColorstr='#cccccc', GradientType='0'); /* IE*/
}
.feedback_message{
	margin:20px 50px 20px 20px;
	padding:10px;
	border: 1px solid #cccccc;
	background: #ccffcc;
	text-align: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.feedback_reply{
	margin:20px 20px 20px 50px;
	padding:10px;
	border: 1px solid #cccccc;
	background: #ccfffe;
	text-align: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#msgcontent{
	width: 800px;
	height: 100px;
}

#login_main{
	background:#ffff99;
}

#login_left{
	float:left;
	width:565px;
	height: 530px;
	padding:35px 25px 0 0;
}

#login_left_left{
	float:left;
	background-color: #ddd;
	width:250px;
	height:530px;
	margin:0px 25px 0 0;
}

#login_left_title{
	background-color: white;
	height:100px;
}

#login_title{
	color: #dc442e;
	text-align: left;
	font-size: 24px;
	margin-bottom: 20px;
}

#login_title_content{
	color: #666;
	text-align: left;
	font-size: 18px;
}

#login_left_mid_img{
	height:300px;
}

#login_left_right{
	float:left;
	background-color: #ddd;
	width:290px;
	height:530px;
}

#login_left_right_img{
	height:400px;
}

.login_left_foot{
	background-color: white;
	height:130px;
}

.foot_title{
	padding:10px 0;
	text-align: left;
	color: #666;
	font-size: 16px;
}

.foot_content{
	text-align: left;
	color: #aaa;
	font-size: 14px;
}

#login_right{
	float:left;
	background-color: #efefef;
	padding:30px;
	margin:35px 0 0 0px;
	border:1px solid #ddd;
}

.btn-metro{
	border: 0px;
	color: white;
	padding:6px 10px;
	background-color: #4d8fff;
}

#page_bg {
	padding: 10px 0;
	margin-bottom: 1px;
	background: #0C3A6D;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	background: #f7f7f7 url(../images/blue/mw_shadow_l.png) 0 0 repeat-y;
}

body.width_medium #wrapper {
	width: 950px;
}

body.width_small #wrapper {
	width: 773px;
}

body.width_fmax #wrapper {
	min-width: 750px;
	max-width: 1050px;
}

#notice
{
	width:98%;
    height: 400px;
    border-width: 0px;
}
/*table.nopad {
	width:100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}*/

#wrapper_r {
	background: url(../images/blue/mw_shadow_r.png) 100% 0 repeat-y;
}

.clr {
	clear: both;
}

/*header设置*/

#header {
	background-image: -moz-linear-gradient(top, #444444, #111111); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #111111)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111', GradientType='0'); /* IE*/
	color:white;
	line-height:40px;
	height:40px;
}

#menu{
	width:980px;
	height:30px;
}

#menu_logo{
	float:left;
	margin-top: 6px;
	width:100px;
}

#menu_list{
	float:left;
	width:800px;
	position: relative;
}

#menu_list a{
	color:#aaa;
	text-decoration: none;
}

#menu_list a:hover{
	color: white;
}

#dropdown-menu a{
	color:black;
}

.menu_title{
	text-align: left;
	margin:10px 0 0 30px;
}

.menu_content{
	text-align: left;
	margin:10px 0 0 30px;
}

.content-header{
	text-align: left;
	padding: 20px;
}

.content-password{
	text-align: center;
	width: 400px;
}

.content-address{
	text-align: center;
	width: 600px;
}

#header_l {
	position: relative;
	background: url(../images/blue/mw_header_t_l.png) 0 0 no-repeat;
}

#header_r {
	height: 90px;
	padding-left: 370px;
	padding-right: 30px;
	padding-top: 25px;
	overflow: hidden;
	text-align: left;
	background: url(../images/blue/mw_header_t_r.png) 100% 0 no-repeat;
}

#logo {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	width: 280px;
	height: 88px;
	background: url(../images/logo.gif) 0 0 no-repeat;
	margin-left: 50px;
	margin-top: 35px;
}

#title {
	/*position:absolute;
	left:0;
	top:0;
	float:left;
	width:400px;
	height:100px;*/
	margin-left: 0px;
	margin-top: 35px;
	font-size:25px;
	color:#135cae;
	font-weight:bold;
}

/*footer设置*/

#footer {
	height:100px;
	background-image: -moz-linear-gradient(top, #444444, #111111); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #111111)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111', GradientType='0'); /* IE*/
	color: #ffffff;
}

#footer_content{
	padding-top: 10px;
	width:980px;
}

#footer_list{
	float:left;
	width:150px;
	color: #ffffff;
}

#footer_logo{
	float:left;
	width:380px;
}

#footer_list li{
	text-align:left;
}

#fl_title{
	font-size:16px;
	font-weight:bold;
}

#footer_l {
	background: url(../images/blue/mw_footer_b_l.png) 0 0 no-repeat;
}

#footer_r {
	padding-top: 10px;
	height: 47px;
	overflow: hidden;
	background: url(../images/blue/mw_footer_b_r.png) 100% 0 no-repeat;
}

#footer_r div {
	text-align: center;
	font-size: .90em;
	color: #aaa;
}

#footer_r a:link, #footer_r a:visited  {
	color: #999;
}

#footerspacer {
	height: 10px;
}

span.description {
	display:block;
	padding-left: 30px;
}

#syndicate{
	float:left;
	padding-left: 25px;
}

#power_by{
	float:right;
	padding-right: 25px;
}

/*状态栏设置*/

.info {
	float:right;
	margin-right:20px;
	text-align:right;
	margin-top: -20px;
}

/*空白区域设置*/



/*基本元素设置*/

#applytable th {
	text-align:right;
	width:150px;
	padding-right:50px;
}

#searchtable .search{
	text-align:right;
	padding-right:50px;
}

table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
}

#list_header {
	background-color:#135cae;
	color:white;
	text-align:center;
	font-size:15px;
}

#record {
	text-align:center;
}

em
{
	color: red;
	font-style: normal;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #135cae;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #0b3768;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #666;
	text-align: left;
	width: 100%;
}

h2 {
	padding: 0;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%;
}

h3 {
	margin-top: 25px;
	margin: 0;
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding-left: 0px;
    margin-bottom: 10px;
    text-align: left;
    color: #135cae;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

a.readon {
	margin-top: 10px;
	display: block;
	float: left;
	background: url(../images/mw_readon.png) top right no-repeat;
	padding-right: 20px;
	line-height: 14px;
	height: 16px;
}

#profile{
	width:990px;
}
#printer_list{
	width:200px;
	height:568px;
	float:left;
	background-color: #eeeeee;
	margin-right: 10px;
}

#other_printer{
	height:330px;
}

.printer_info{
	height:50px;
	text-align: left;
	border-bottom: 1px solid #cccccc;
	margin: 2px 8px;
}

.title_background{
	background-color: #dddddd;
	padding:4px 0 4px 4px;
	background-image: -moz-linear-gradient(top, #ddd, #ccc); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #ccc)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc', GradientType='0'); /* IE*/
}

.profile_title{
	text-align:left;
	line-height:20px;
	font-size:20px;
	font-weight:bold;
	vertical-align: middle;
	padding:4px 0 4px 4px;
	background-color: #dddddd;
	background-image: -moz-linear-gradient(top, #ddd, #ccc); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #ccc)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc', GradientType='0'); /* IE*/
}

.setting_details{
	text-align:left;
}

#file_manage{
	width:770px;
	height:310px;
	float:left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.left750{
	width:750px;
	text-align: left;
}

#file_setting{
	float:left;
}
#managebox{
	width:770px;
	height:568px;
	float:left;
	border-left:1px solid #ccc;
}

.manage_table{
	width:780px;
}

#print_setting{
	width:770px;
	height:258px;
	float:left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
}

.pading6{
	padding:6px;
}
.tabs{
	border:1px solid #eee;
	background-color: #d8d8d8;
	color:white;
	height:38px;
	text-align: center;
	line-height: 38px;
}

.current{
	background:#4461b7;
}

#shop_main{
	width: 990px;
}
#shop_image{
	height: 120px;
	background-color: #FFFFCC;
	border:1px solid gray;
}
#shop_word{
	height: 50px;
	line-height: 50px;
	background-color: #FFCC00;
	border-bottom:1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	font-size: 20px;
}
#shop_body{
	background-color: #FFFF99;
	border-bottom:1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#shop_services{
	width: 695px;
	float:left;
	background-color: white;
	border-right:1px solid gray;
}
#shop_details{
	width: 290px;
	float: right;
	background-color: transparent;
}

#doc-class
{
	margin-top: 10px;
	margin-left:10px;
	border-bottom: 2px dashed gray;
	line-height: 30px;
}
.doc-display .doc-title{
	border-bottom: 1px solid gray;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	text-align: left;
	padding-left: 20px
}

.navlist {
        margin: 5px 0 0 0;
        height: 26px;
        border-bottom: 1px solid #778;
        font: bold 14px Verdana, sans-serif;
}

.navlist li {
		float: left;
        list-style: none;
        margin: 0;
        display: inline;
        border-top: 1px solid #778;
        border-right: 1px solid #778;

        border-bottom: none;
}

.navlist li a {
		display:inline-block;
		width: 80px;
		height: 25px;
		line-height: 25px;
        background: #DDE;
        text-decoration: none;
}

.navlist li a:link { color: #448; }
.navlist li a:visited { color: #667; }

.navlist li a:hover {
        color: #000;
        background: #AAE;
        border-color: #227;
}

.navlist li a.current {
        background: white;
        border-bottom: 1px solid white;
}
#doc-list{
	border-bottom: 1px dashed gray;
	margin-left: 10px;
}

#shop_msg_view{
	background: white;
}
#shop_details ul{
	margin: 0px;
}


.star-rating{
	list-style:none;
	margin: 0px;
	padding:0px;
	width: 150px;
	height: 30px;
	position: relative;
	background: url(../images/rating.gif) top left repeat-x;
}
.star-rating li{
	padding:0px;
	margin:0px;
	float: left;
}
.star-rating li a{
	display:block;
	width:30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(../images/rating.gif) left center;
	z-index: 2;
	left: 0px;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:30px;
}
.star-rating a.two-stars{
	left:30px;
}
.star-rating a.two-stars:hover{
	width: 60px;
}
.star-rating a.three-stars{
	left: 60px;
}
.star-rating a.three-stars:hover{
	width: 90px;
}
.star-rating a.four-stars{
	left: 90px;
}
.star-rating a.four-stars:hover{
	width: 120px;
}
.star-rating a.five-stars{
	left: 120px;
}
.star-rating a.five-stars:hover{
	width: 150px;
}
.star-rating li.current-rating{
	background: url(../images/rating.gif) left bottom;
	position: absolute;
	height: 30px;
	width: 105px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}