* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="SuperManagerPasswordConfiguration_files/u0_normal.png");
}

* html .u2_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="SuperManagerPasswordConfiguration_files/u2_line.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="SuperManagerPasswordConfiguration_files/u12_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="SuperManagerPasswordConfiguration_files/u18_normal.png");
}

