body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../留言投诉__files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1090px;
    height:500px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1096px;
    height:506px;
}

.u1 {
    position:absolute;
    left:2px;
    top:242px;
    width:1086px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../留言投诉__files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1090px;
    height:3px;
}

.u2 {
    position:absolute;
    left:0px;
    top:30px;
    width:1090px;
    height:10px;
    
}

.u3 {
    position:absolute;
    left:20px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:20px;
    top:50px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:20px;
    top:261px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:20px;
    top:295px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:20px;
    top:321px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:20px;
    top:347px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:20px;
    top:373px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:20px;
    top:399px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:20px;
    top:425px;
    width:281px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:364px;
    top:50px;
    width:467px;
    height:44px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:384px;
    top:100px;
    width:467px;
    height:44px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:364px;
    top:150px;
    width:467px;
    height:44px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u18_container {
    position:absolute;
    left:384px;
    top:200px;
    width:467px;
    height:44px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:364px;
    top:250px;
    width:467px;
    height:44px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u22_container {
    position:absolute;
    left:384px;
    top:300px;
    width:467px;
    height:44px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u24_container {
    position:absolute;
    left:364px;
    top:350px;
    width:467px;
    height:44px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../留言投诉__files/u12_normal.png');
}

.u26_container {
    position:absolute;
    left:384px;
    top:400px;
    width:467px;
    height:44px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:473px;
    height:50px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:463px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:364px;
    top:454px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:21px;
    top:454px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:20px;
    top:76px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:20px;
    top:102px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:20px;
    top:128px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:20px;
    top:154px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:20px;
    top:180px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:21px;
    top:204px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

