body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../UserHeader_files/u4_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:950px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:7px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:728px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:791px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:853px;
    top:7px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:891px;
    top:7px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:100px;
    top:7px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../UserHeader_files/u11_normal.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:0px;
    width:75px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:30px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../UserLoginRegisterPage_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:35px;
    width:950px;
    height:590px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:596px;
}

.u11 {
    position:absolute;
    left:2px;
    top:287px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../UserFooter_files/u60_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:630px;
    width:950px;
    height:100px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:106px;
}

.u13 {
    position:absolute;
    left:2px;
    top:42px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:200px;
    top:640px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:200px;
    top:665px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:200px;
    top:681px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:200px;
    top:697px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:800px;
    top:640px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:650px;
    top:640px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:50px;
    top:640px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:50px;
    top:665px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:50px;
    top:681px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:650px;
    top:665px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:650px;
    top:681px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:650px;
    top:697px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:800px;
    top:665px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:800px;
    top:681px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:299px;
    top:675px;
    width:332px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../UserFooter_files/u77_normal.png');
}

.u29_container {
    position:absolute;
    left:409px;
    top:635px;
    width:100px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:571px;
    top:123px;
    width:301px;
    height:397px;
    overflow:hidden;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:397px;
    
}

.u33_normal {
    background-image: url('../LoginRegister_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../LoginRegister_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:150px;
    top:0px;
    width:150px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../LoginRegister_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:20px;
    width:300px;
    height:6px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:12px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-5px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../LoginRegister_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:26px;
    width:300px;
    height:349px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:355px;
}

.u40 {
    position:absolute;
    left:2px;
    top:166px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:20px;
    top:40px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:20px;
    top:66px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:20px;
    top:101px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:20px;
    top:127px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:20px;
    top:162px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:20px;
    top:188px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:20px;
    top:223px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:20px;
    top:249px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:178px;
    top:284px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:20px;
    top:331px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:90px;
    top:329px;
    width:88px;
    height:23px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:23px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:189px;
    top:329px;
    width:90px;
    height:23px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:23px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:397px;
    
}

.u57_normal {
    background-image: url('../LoginRegister_files/u33_normal.png');
}

.u57_container {
    position:absolute;
    left:150px;
    top:0px;
    width:150px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../LoginRegister_files/u35_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../LoginRegister_files/u37_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:20px;
    width:300px;
    height:6px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:12px;
}

.u62 {
    position:absolute;
    left:2px;
    top:-5px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../LoginRegister_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:26px;
    width:300px;
    height:261px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:267px;
}

.u64 {
    position:absolute;
    left:2px;
    top:122px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:20px;
    top:44px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:20px;
    top:76px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:20px;
    top:116px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:20px;
    top:147px;
    width:260px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:16px;
    top:0px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:87px;
    top:192px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:180px;
    top:192px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:20px;
    top:233px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_container {
    position:absolute;
    left:91px;
    top:229px;
    width:88px;
    height:23px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:23px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_container {
    position:absolute;
    left:190px;
    top:229px;
    width:90px;
    height:23px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:23px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

