body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../GeRenZhongXinNeiQianYe_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:777px;
    height:590px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:783px;
    height:596px;
}

.u1 {
    position:absolute;
    left:2px;
    top:287px;
    width:773px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../GeRenZhongXinNeiQianYe_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:2px;
    width:777px;
    height:7px;
}

.u2 {
    position:absolute;
    left:0px;
    top:30px;
    width:777px;
    height:10px;
    
}

.u4 {
    position:absolute;
    left:20px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../文档管理：我的收藏_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:22px;
    top:50px;
    width:719px;
    height:535px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:725px;
    height:541px;
}

.u6 {
    position:absolute;
    left:2px;
    top:260px;
    width:715px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

