body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../宣传推广_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1090px;
    height:500px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1096px;
    height:506px;
}

.u1 {
    position:absolute;
    left:2px;
    top:242px;
    width:1086px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../宣传推广_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1090px;
    height:3px;
}

.u2 {
    position:absolute;
    left:0px;
    top:30px;
    width:1090px;
    height:10px;
    
}

.u3 {
    position:absolute;
    left:20px;
    top:10px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:20px;
    top:50px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:95px;
    top:50px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:164px;
    top:50px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:203px;
    top:50px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:241px;
    top:50px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:280px;
    top:50px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:339px;
    top:50px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:382px;
    top:50px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:95px;
    top:70px;
    width:365px;
    height:185px
}

.u13_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:100px;
    top:0px;
    width:65px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:165px;
    top:0px;
    width:65px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:230px;
    top:0px;
    width:65px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:295px;
    top:0px;
    width:65px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:20px;
    width:65px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:165px;
    top:20px;
    width:65px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u29_container {
    position:absolute;
    left:230px;
    top:20px;
    width:65px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:295px;
    top:20px;
    width:65px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u35_container {
    position:absolute;
    left:100px;
    top:40px;
    width:65px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:165px;
    top:40px;
    width:65px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:230px;
    top:40px;
    width:65px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u41_container {
    position:absolute;
    left:295px;
    top:40px;
    width:65px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u45_container {
    position:absolute;
    left:100px;
    top:60px;
    width:65px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u47_container {
    position:absolute;
    left:165px;
    top:60px;
    width:65px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u49_container {
    position:absolute;
    left:230px;
    top:60px;
    width:65px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u51_container {
    position:absolute;
    left:295px;
    top:60px;
    width:65px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u55_container {
    position:absolute;
    left:100px;
    top:80px;
    width:65px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u57_container {
    position:absolute;
    left:165px;
    top:80px;
    width:65px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:230px;
    top:80px;
    width:65px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u61_container {
    position:absolute;
    left:295px;
    top:80px;
    width:65px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:100px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:100px;
    width:65px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u67_container {
    position:absolute;
    left:165px;
    top:100px;
    width:65px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u69_container {
    position:absolute;
    left:230px;
    top:100px;
    width:65px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u71_container {
    position:absolute;
    left:295px;
    top:100px;
    width:65px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u75_container {
    position:absolute;
    left:100px;
    top:120px;
    width:65px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u77_container {
    position:absolute;
    left:165px;
    top:120px;
    width:65px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u79_container {
    position:absolute;
    left:230px;
    top:120px;
    width:65px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u81_container {
    position:absolute;
    left:295px;
    top:120px;
    width:65px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:140px;
    width:100px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u85_container {
    position:absolute;
    left:100px;
    top:140px;
    width:65px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u87_container {
    position:absolute;
    left:165px;
    top:140px;
    width:65px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u89_container {
    position:absolute;
    left:230px;
    top:140px;
    width:65px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u91_container {
    position:absolute;
    left:295px;
    top:140px;
    width:65px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../宣传推广_files/u13_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u95_container {
    position:absolute;
    left:100px;
    top:160px;
    width:65px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u97_container {
    position:absolute;
    left:165px;
    top:160px;
    width:65px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u99_container {
    position:absolute;
    left:230px;
    top:160px;
    width:65px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../宣传推广_files/u15_normal.png');
}

.u101_container {
    position:absolute;
    left:295px;
    top:160px;
    width:65px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:20px;
    top:260px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:90px;
    top:260px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:90px;
    top:364px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:155px;
    top:260px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:155px;
    top:286px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:155px;
    top:312px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:155px;
    top:364px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:155px;
    top:390px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:155px;
    top:416px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:155px;
    top:338px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:155px;
    top:442px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:568px;
    top:50px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:652px;
    top:88px;
    width:80px;
    height:60px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u116 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u117_container {
    position:absolute;
    left:772px;
    top:88px;
    width:80px;
    height:60px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u118 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u119_container {
    position:absolute;
    left:891px;
    top:88px;
    width:80px;
    height:60px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u120 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u121_container {
    position:absolute;
    left:652px;
    top:168px;
    width:80px;
    height:60px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u122 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u123_container {
    position:absolute;
    left:772px;
    top:168px;
    width:80px;
    height:60px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u124 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u125_container {
    position:absolute;
    left:891px;
    top:168px;
    width:80px;
    height:60px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u126 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u127_container {
    position:absolute;
    left:652px;
    top:248px;
    width:80px;
    height:60px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u128 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u129_container {
    position:absolute;
    left:772px;
    top:248px;
    width:80px;
    height:60px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u130 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../宣传推广_files/u115_normal.png');
}

.u131_container {
    position:absolute;
    left:891px;
    top:248px;
    width:80px;
    height:60px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:60px;
}

.u132 {
    position:absolute;
    left:2px;
    top:22px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:568px;
    top:338px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:568px;
    top:358px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:568px;
    top:378px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:662px;
    top:338px;
    width:309px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:662px;
    top:358px;
    width:309px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138 {
    position:absolute;
    left:662px;
    top:378px;
    width:309px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:21px;
    top:465px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

