body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../信息汇总_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1090px;
    height:500px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1096px;
    height:506px;
}

.u1 {
    position:absolute;
    left:2px;
    top:242px;
    width:1086px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../信息汇总_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1090px;
    height:3px;
}

.u2 {
    position:absolute;
    left:0px;
    top:30px;
    width:1090px;
    height:10px;
    
}

.u3 {
    position:absolute;
    left:20px;
    top:10px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:46px;
    top:50px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:46px;
    top:96px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:249px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:369px;
    top:92px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:46px;
    top:134px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_container {
    position:absolute;
    left:46px;
    top:160px;
    width:50px;
    height:17px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_container {
    position:absolute;
    left:46px;
    top:179px;
    width:50px;
    height:17px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_container {
    position:absolute;
    left:46px;
    top:197px;
    width:50px;
    height:17px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:46px;
    top:216px;
    width:50px;
    height:17px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_container {
    position:absolute;
    left:46px;
    top:234px;
    width:50px;
    height:17px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u18 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_container {
    position:absolute;
    left:46px;
    top:253px;
    width:50px;
    height:17px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u20 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_container {
    position:absolute;
    left:100px;
    top:160px;
    width:50px;
    height:17px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_container {
    position:absolute;
    left:100px;
    top:179px;
    width:50px;
    height:17px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_container {
    position:absolute;
    left:100px;
    top:197px;
    width:50px;
    height:17px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:100px;
    top:216px;
    width:50px;
    height:17px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u28 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:100px;
    top:234px;
    width:50px;
    height:17px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u30 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:100px;
    top:253px;
    width:50px;
    height:17px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u32 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:153px;
    top:160px;
    width:50px;
    height:17px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:153px;
    top:179px;
    width:50px;
    height:17px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u36 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:153px;
    top:197px;
    width:50px;
    height:17px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:153px;
    top:216px;
    width:50px;
    height:17px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u40 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:153px;
    top:234px;
    width:50px;
    height:17px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:17px;
}

.u42 {
    position:absolute;
    left:2px;
    top:0px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:399px;
    top:158px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:399px;
    top:134px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:399px;
    top:183px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:399px;
    top:208px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:399px;
    top:232px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:46px;
    top:295px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:159px;
    top:96px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:513px;
    top:180px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:513px;
    top:206px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:513px;
    top:232px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:46px;
    top:327px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:46px;
    top:353px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:217px;
    top:327px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:217px;
    top:353px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:389px;
    top:327px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:389px;
    top:353px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:479px;
    top:327px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:479px;
    top:353px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:511px;
    top:327px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:511px;
    top:353px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../信息汇总_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:508px;
    top:156px;
    width:56px;
    height:19px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:19px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:509px;
    top:134px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

